! ~/.Xresources

xterm*background: #2a2a2a
xterm*foreground: #e6e6e6
xterm*cursorColor: #e6e6e6

xterm*VT100*color0:  #1a1a1a
xterm*VT100*color1:  #cc0000
xterm*VT100*color2:  #9ec1a2
xterm*VT100*color3:  #f5c71a
xterm*VT100*color4:  #8080ff
xterm*VT100*color5:  #b58bb0
xterm*VT100*color6:  #c8cbae
xterm*VT100*color7:  #e6e6e6
xterm*VT100*color8:  #494949
xterm*VT100*color9:  #cc0000
xterm*VT100*color10: #e8f48c
xterm*VT100*color11: #ffff00
xterm*VT100*color12: #b3b3ff
xterm*VT100*color13: #955f8e
xterm*VT100*color14: #a8ad7f
xterm*VT100*color15: #e6e6e6

xterm*faceName: Noto Sans Mono
xterm*faceSize: 10
xterm*geometry: 72x24
xterm*saveLines: 100
xterm*scrollBar: false

xterm*copyOnSelect: true
xterm*selectToClipboard: true
xterm*VT100.translations: #override \
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

xterm*cursorBlink: true
xterm*cursorShape: ibeam
xterm*visualBell: false
xterm*mouseWheelScroll: true
xterm*boldMode: true

