[Desktop Entry]
Version=1.0
Type=Application
Name=AUR
Comment=
Exec=firefox https://aur.archlinux.org/
Icon=system-software-package-manager
Path=
Terminal=false
StartupNotify=false
