[Desktop Entry]
Version=1.0
Type=Application
Name=AUR Search
GenericName=AUR Launcher
Comment=Search online AUR repository
Keywords=Internet;Browser;Web;
Exec=firefox https://aur.archlinux.org/
Icon=distributor-logo-archlinux
Path=
Terminal=false
StartupNotify=false
Categories=Utility;Internet;
