#
# ~/.bash_aliases
#

alias sano='sudo nano -Blc'
alias sedit='sudo gedit'
alias upd='sudo pacman -Syu'
alias get='sudo pacman -S --needed'
alias remv='sudo pacman -Rsn'
alias vpnc='nordvpn c'
alias vpnd='nordvpn d'
alias vstat='nordvpn status'
alias scurl='curl --tlsv1.2 --proto =https'
alias dl='cd ~/Downloads'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
