# /etc/ssh/sshd_config

AllowAgentForwarding no
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
ClientAliveCountMax 0
ClientAliveInterval 300
MACs hmac-sha2-512,hmac-sha2-256
MaxAuthTries 3
MaxSessions 2
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
#Port 22
Protocol 2
PubkeyAuthentication yes
TCPKeepAlive no
LogLevel VERBOSE
