# /etc/ssh/sshd_config

Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,chacha20-poly1305
MACs hmac-sha2-512,hmac-sha2-256
KexAlgorithms curve25519-sha256,ecdh-sha2-nistp256
UsePAM yes
PubkeyAuthentication yes
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
LoginGraceTime 20
MaxAuthTries 3
MaxSessions 1
MaxStartups 1
ClientAliveInterval 15
ClientAliveCountMax 3
TCPKeepAlive no
Port
Protocol 2
DisableForwarding yes
ChrootDirectory none
LogLevel VERBOSE
