[Desktop Entry]
Version=1.0
Type=Application
Name=Updater
Comment=Sytem updates
Exec=sudo pacman -Syu -y
Icon=mintupdate-checking
Terminal=true
StartupNotify=false
