[Desktop Entry]
Version=1.0
Type=Application
Name=Atom
Comment=
Exec=env ATOM_DISABLE_SHELLING_OUT_FOR_ENVIRONMENT=false /usr/bin/atom %F
Icon=atom
Path=
Terminal=false
StartupNotify=False
