[Unit]
Description=NordVPN at system start and network restart
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /home/*/.bin/vpn-conn
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
