! ~/.Xresources — Chameleon xterm palette

*.background:        #2a2a2a
*.foreground:        #e6e6e6
*.cursorColor:       #e6e6e6
*.selectBackground:  #494949
*.selectForeground:  #e6e6e6

*.color0:  #1a1a1a
*.color1:  #cc0000
*.color2:  #e8f48c
*.color3:  #f5c71a
*.color4:  #8080ff
*.color5:  #b58bb0
*.color6:  #9ec1a2
*.color7:  #e6e6e6
*.color8:  #494949
*.color9:  #cc0000
*.color10: #c8cbae
*.color11: #f5c71a
*.color12: #b3b3ff
*.color13: #955f8e
*.color14: #a8ad7f
*.color15: #ffffff

*.faceName:           Monospace
*.faceSize:           10
*.geometry:           80x24
*.saveLines:          1000
*.scrollBar:          false
*.copyOnSelect:       true
*.selectToClipboard:  true
*.cursorBlink:        true
*.cursorShape:        ibeam
*.visualBell:         false
*.mouseWheelScroll:   true
*.boldMode:           true

xterm*VT100.translations: #override \
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)



