! ~/.Xresources

xterm*background: #000000
xterm*foreground: #dcdcdc
xterm*cursorColor: #dcdcdc

xterm*VT100*color0:  #3f3f3f
xterm*VT100*color1:  #705040
xterm*VT100*color2:  #60b48a
xterm*VT100*color3:  #dfaf8f
xterm*VT100*color4:  #9ab8d7
xterm*VT100*color5:  #dc8cc3
xterm*VT100*color6:  #8cd0d3
xterm*VT100*color7:  #dcdcdc
xterm*VT100*color8:  #708080
xterm*VT100*color9:  #dca3a3
xterm*VT100*color10: #72d5a3
xterm*VT100*color11: #f0dfaf
xterm*VT100*color12: #94bff3
xterm*VT100*color13: #ec93d3
xterm*VT100*color14: #93d5d7
xterm*VT100*color15: #ffffff

xterm*faceName: Noto Sans Mono
xterm*faceSize: 10
xterm*geometry: 72x24
xterm*saveLines: 100
xterm*scrollBar: false

xterm*copyOnSelect: true
xterm*selectToClipboard: true
xterm*VT100.translations: #override \
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

xterm*cursorBlink: true
xterm*cursorShape: ibeam
xterm*visualBell: false
xterm*mouseWheelScroll: true
xterm*boldMode: true

